* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --yellow-bg: hsl(47, 88%, 63%);
  --txt-color: hsl(0, 0%, 7%);
  --space-btn-objects: 1rem;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  display: block;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow-bg);

  font-size: 1rem;
  font-weight: 500;
}
main
{
    display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  width: 25rem;
  border-radius: 1.25rem;
  box-shadow: 8px 8px 0 0 #000;
  margin: 6rem 0;
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.blog-image {
  border-radius: 0.65rem;

  box-shadow: 0 4 4 0 #000;
}
.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-btn-objects);
}
.content button {
  border-radius: 0.25rem;
  border: none;
  color: var(--txt-color);
  background-color: var(--yellow-bg);
  padding: 0.25rem 0.75rem;
  text-transform: capitalize;
  width: fit-content;
  font-weight: bold;
  font-size: 1rem;
}
.content p {
  color: var(--txt-color);
}

.content h1 {
  color: var(--txt-color);
  font-size: 1.5rem;
}
.content a h1:hover {
  color: var(--yellow-bg);
  transition: color 0.3s ease-in-out;
}

.content .description {
  color: hsl(0, 0%, 42%);
  line-height: 150%;
  margin-top: 0;
}
.author {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
}
.author img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.author p {
  text-transform: capitalize;
  font-weight: 900;
}
